body {
  background-color: rgb(231, 231, 231);
}

#motivationalText {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    text-shadow: 2px 2px 4px #000000; 
}